<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/assets/css/members.css}"
	type="text/css" />
</head>
<body>
	<div id="headerDiv">
		<h3>Welcome to the Twitter app v 1.3</h3>
		<img alt="err" src="images/spring.png"
			style="width: 64px; height: 64px;"></img> <img alt="err"
			src="images/twitter-128.png" style="width: 64px; height: 64px;"></img>
		<div id='cssmenu'>
			<ul>
				<li><a th:href="@{/}"><span>Home</span></a></li>
				<li><a th:href="@{/tweets}"><span>Tweets</span></a></li>
				<li class='active'><a th:href="@{/members}"><span>Members</span></a></li>
				<li class='last'><a href='#'><span>About</span></a></li>
			</ul>
		</div>
	</div>
	<hr></hr>

	<section id="wrap">
		<div id="left_col">
			<form action="#" th:action="@{/members}" th:object="${member}"
				method="post">
				<table>
					<tr>
						<td><input type="hidden" th:field="*{id}"></input></td>
					</tr>
					<tr>
						<td><label for="name">Username: </label></td>
						<td><input id="name" type="text" placeholder="input Username"
							th:field="*{username}"></input></td>
					</tr>
					<tr>
						<td><label for="email">e-mail: </label></td>
						<td><input id="email" type="text" placeholder="input e-mail"
							th:field="*{email}"></input></td>
					</tr>
				</table>

				<input type="submit" value="Register/Edit Member"></input>
			</form>

		</div>
		<div id="right_col">
			<div class="scrollingtable">
				<div id="table-wrapper">
					<div id="table-scroll">
						<table>
							<thead>
								<tr>
									<th><div label="Id"></div></th>
									<th><div label="Username"></div></th>
									<th><div label="e-mail"></div></th>
									<th><div label="tweets"></div></th>
									<th class="scrollbarhead"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="member: ${members}">
									<td th:text="${member.id}">ID</td>
									<td th:text="${member.username}">Username</td>
									<td th:text="${member.email}">email</td>
									<td th:text="${member.showNumTweets()}">num</td>

									<td><a
										th:href="@{/members/deleteMember/{id}(id=${member.id})}">Remove</a></td>
									<td><a
										th:href="@{/members/editMember/{id}(id=${member.id})}">Edit</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>