<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
	<div>
		<h3>List of magazines in the database</h3>
		<hr></hr>
	</div>
	<table>
		<tr th:each="magazine: ${magazines}">
			<td><a th:href="@{/magazines/{id}(id=${magazine.id})}">Edit</a></td>
			<td>|</td>
			<td th:text="${magazine.issn}">ISSN</td>
			<td>|</td>
			<td th:text="${magazine.title}">Title</td>
		</tr>
	</table>
	<form action="#" th:action="@{/magazines}" th:object="${magazine}"
		method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="text" placeholder="input ISSN" th:field="*{issn}" />
		<input type="text" placeholder="input Title" th:field="*{title}" /> <br />
		<input type="submit" value="Register magazine" />
	</form>
	<a href="http://localhost:8080/books">See Books</a>
</body>
</html>